# log/*.log
# !log/README.md
# upload_attach/*
# !upload_attach/README.md

# docker-compose.yml

# !www/session_data/README.md
# www/session_data/sess_*
# !www/upload_data/README.md
# www/upload_data/*.jpg
# www/upload_data/*.jpeg
# www/upload_data/*.png