/* for all */
.img-circle{border-radius:50%}
.container-adjust{max-width: 1000px!important;}

/* for header */
.border-adjust
{
    border-radius:0.25rem!important;
    margin-bottom: 5px!important;
    margin-top: 0!important;
    position: fixed;
    top: 0;
    right: 2.5%;
    left: 2.5%;
    background-color: black!important;
}

/* for post typography */
.padding-adjust{padding-top: 80px;}

.margin-adjust
{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem!important;
}

.board-color
{
    /* background-color: #ffffffe8!important; */
    border-color: #fff0!important;
    box-shadow: 5px 5px #888888c4;
}

.position-adjust{position: inherit!important;}

.avatar-adjust
{
    float: left;
    margin-right: 0.5rem;
}

.username-adjust
{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.font-size{font-size: 20px;}

.content-float-adjust
{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.delete-adjust{margin-bottom: 0px;}

.margin-left-adjust
{
    margin-left: 30px;
    margin-right: 100px;
}

.content-border-adjust
{
    padding: 0.01em 16px;
    border-left: 6px solid #0000009d !important;
}

.word-wrap-adjust{word-wrap: break-word;}

.title-adjust
{
    font-size: 30px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: #d1e7dd!important;
    padding: 0;
}

.content-adjust
{
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.time-right-adjust{text-align: right;}

/* for view_one_post.php */
.view-one-post-margin-adjust{margin-top: 2rem;}